<div id="results" ng-show="quizResults">
  <h2 class="lead">Who LOVES you?</h2>
  <h1 class="special">{{ quizResults[0][0] }}</h1>
  <h2 class="lead">Does</h2>
  <div class="score">
    <span>With a score of:</span>
    <h1>{{ quizResults[0][1]}}</h1>
  </div>

  <button class="callout" ng-click="reset()">Do it Again!</button>

  <table>
    <thead>
      <tr>
        <th class="rank">Rank</th>
        <th class="city">City Name</th>
        <th class="points">Total Points</th>
      </tr>
    <thead>
  <tbody>
      <tr ng-repeat="(index, rank) in quizResults">
        <td class="rank">{{ index + 1 }}</td>
        <td class="city">{{ rank[0] }}</td>
        <td class="points">{{ rank[1] }}</td>
      </tr>
  </tbody>
  </table>
 
</div>
<div id="quiz" ng-hide="quizResults">
  <div id="title" ng-hide="quizResults || question">
    <img src="img/citylove.svg" />
    <h3>Welcome to CityLove:CODE</h3>
        <p>We're here to find you that special match.<br />That one of a kind feeling.<br />That perfect situation.</p>
        <p>That's right, we're going to find out which<br /> <strong class="canada-rocks">Canadian city</strong><br /> is the best most wonderful match for you*</p>
  </div>
  <div class="topic" ng-show="question.category != ''">{{ question.category | uppercase }}</div>
  <div ng-hide="currentQuestionNumber > totalQuestions"{{ currentQuestionNumber }}/{{ totalQuestions }}</div>
  <h1 ng-show="question.title">Topic:</h1>
  <h1>{{ question.title }}</h1>

  <p>{{ question.fulltext }}</p>
 <div ng-show="question.type == 'list'" class="button-group">
    <ul>
      <li ng-repeat="(index, answer) in question.answers">
        <button ng-click="selectAnswer(index)">{{ answer.text }}</button>
      </li>
    </ul>
  </div>
  <div ng-show="question.type == 'number'" class="slider">
    <input id="numberInput" type=number ng-model="currentAnswer.option" />
    <numberpad numberpad-var="currentAnswer.option"></numberpad>
  </div>
  <div class="info">
    {{ currentAnswer.caption }}
  </div>
  <div class="submit">
  <button ng-click="nextQuestion()" ng-show="currentQuestionNumber < 1" class="callout">Start the Quiz!</button> 
  <button ng-show="currentQuestionNumber <= totalQuestions && currentQuestionNumber > 0" ng-click="nextQuestion()" class="submit" ng-class="{ skip : !currentAnswer.option }">{{ currentAnswer.option ? "Submit Answer" : "Skip Question" }}</button>
  </div>
  <div ng-hide="quizResults || question">
    <p class="disclaimer">*Results not prove. Please see <a href="/about">Disclaimer</a></p>
  </div>
</div>
