<table>
  <tr>
    <td colspan=3><button style="width: 100%" ng-click="clearInput()">Clear</button></td>
  </tr>
  <tr>
    <td><button ng-click="takeInput(9)">9</button></td>
    <td><button ng-click="takeInput(8)">8</button></td>
    <td><button ng-click="takeInput(7)">7</button></td>
  </tr>
  <tr>
    <td><button ng-click="takeInput(6)">6</button></td>
    <td><button ng-click="takeInput(5)">5</button></td>
    <td><button ng-click="takeInput(4)">4</button></td>
  </tr>
  <tr>
    <td><button ng-click="takeInput(3)">3</button></td>
    <td><button ng-click="takeInput(2)">2</button></td>
    <td><button ng-click="takeInput(1)">1</button></td>
  </tr>
</table>
